<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <td>INSU</td>
    </tr>
    <tr>
        <td>
            <button>
                <a href="http://localhost:8080/average/Insu">Average</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/mode/Insu">Mod</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/standartDeviation/Insu">Standart Sapma</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/iqr/Insu">IQR</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/min-max-normalization/Insu">Min-Max Normalization</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/z-score-normalization/Insu">Z Score Normalization</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/three-width-equal/Insu">3 Equal Width</a>
            </button>
        </td>
    </tr>
</table>

<br><br>

<table>
    <tr>
        <td>MASS</td>
    </tr>
    <tr>
        <td>
            <button>
                <a href="http://localhost:8080/average/Mass">Average</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/mode/Mass">Mod</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/standartDeviation/Mass">Standart Sapma</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/iqr/Mass">IQR</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/min-max-normalization/Mass">Min-Max Normalization</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/z-score-normalization/Mass">Z Score Normalization</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/three-width-equal/Mass">3 Equal Width</a>
            </button>
        </td>
    </tr>
</table>

<br><br>

<table>
    <tr>
        <td>Pedi</td>
    </tr>
    <tr>
        <td>
            <button>
                <a href="http://localhost:8080/average/Pedi">Average</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/mode/Pedi">Mod</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/standartDeviation/Pedi">Standart Sapma</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/iqr/Pedi">IQR</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/min-max-normalization/Pedi">Min-Max Normalization</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/z-score-normalization/Pedi">Z Score Normalization</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/three-width-equal/Pedi">3 Equal Width</a>
            </button>
        </td>
    </tr>
</table>

<br><br>

<table>
    <tr>
        <td>AGE</td>
    </tr>
    <tr>
        <td>
            <button>
                <a href="http://localhost:8080/average/Age">Average</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/mode/Age">Mod</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/standartDeviation/Age">Standart Sapma</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/iqr/Age">IQR</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/min-max-normalization/Age">Min-Max Normalization</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/z-score-normalization/Age">Z Score Normalization</a>
            </button>
        </td>
        <td>
            <button>
                <a href="http://localhost:8080/three-width-equal/Age">3 Equal Width</a>
            </button>
        </td>
    </tr>
</table>

</body>
</html>